.projects-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.projects-container {
  color: white;
  background-color: black;
  min-height: 100vh;
  padding-top: 40px;
}
.projects-heading {
  text-align: center;
  font-size: 27px;
  font-family: "Lucida Sans";
  text-decoration: underline;
}
