.header {
  background-color: black;
  color: white;
}
.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}
.nav-logo {
  font-weight: 500;
  color: white;
}
.icon {
  margin-right: 10px;
}
.header-icon {
  color: white;
  font-size: 25px;
}
